<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @uder.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @uder.email %>
</p>

<%= link_to 'Edit', edit_uder_path(@uder) %> |
<%= link_to 'Back', uders_path %>
